
<div>
 <div class="padding_top">
  <h1 style="background-color:powderblue;">TAX INVOICE</h1>
  </div>
  <div class="form_invoice">
    <%= form_with(model: @invoice, local: true) do |f|%>
      <div class="row g-3">
   <div class="col">
     <p>
        <%= f.label 'Select User name' %>
        <%= f.collection_select(:user_id, @users, :id , :name, prompt: true)  %>
      </p>
   </div>
</div>

      <p>
      <%= f.label 'image' %>
       <%= f.file_field :logo_image %>
      </p>

      <p>
        <%= f.label 'invoice_no' %>
        <%= f.text_field :invoice_no %>
      </p>
      <p>
        <%= f.label 'invoice_date' %>
        <%= f.text_field :invoice_date %>
      </p>
      <div>
        <%= f.fields_for :items do |item| %>
          <table class="table">
            <tr id="1">
            <th>Item</th>
              <th>Rate</th>
              <th>Quantity</th>
              <th>Tax Value</th>
              <th>GST</th>
              <th>Amount Paid</th>

            </tr>
            <tr>
              <td><%= item.select :name, options_for_select(Item::ITEM_TYPES),
              {  id: :item_name },{prompt: 'Select Item Type' } %></td>
              <td><%= item.text_field :rate, id: 'item_rate',placeholder: "Rate" %></td>
              <td><%= item.text_field :quantity, placeholder: "Quantity" %></td>
              <td><%= item.text_field :tax_value, id: 'tax_value', placeholder: "Tax Value" %></td>
              <td><%= item.text_field :gst, id: 'gst_value',  placeholder: "GST" %></td>
              <td><%= item.text_field :amountPaid , placeholder: "Amount" %></td>
            </tr>
          </table>
        <% end %>
        <div>
        <%= link_to_add_association "Add Item", f, :items %>
      <p>
        <%= f.label 'notes' %>
        <%= f.text_field :notes %>
      </p>
      <p>
        <%= f.label 'terms_and_condition' %>
        <%= f.text_field :terms_and_condition %>
      </p>
      <p>
        <%= f.submit "submit" %>
        <%= submit_tag("Reset", { :name => 'reset', :id => 'reset', :type => 'reset', :class => 'btn btn-dark' }) %>
      </p>
    <% end %>
  </div>

  <body>
</div>
