<div class="nested-fields">
   <table>
   <tr>
     <td><%= f.select :name, options_for_select(Item::ITEM_TYPES),
      {  id: :item_name },{prompt: 'Select Item Type' } %></td>
      <td><%= f.text_field :rate, id: 'item_rate',placeholder: "Rate" %></td>
      <td><%= f.text_field :quantity, placeholder: "Quantity" %></td>
      <td><%= f.text_field :tax_value, placeholder: "Tax Value" %></td>
      <td><%= f.text_field :gst, placeholder: "GST"   %></td>
      <td><%= f.text_field :amountPaid %></td>
   </tr>
   </table>
   <%= link_to_remove_association "Delete", f %>
</div>
