<div class="form_invoice">
    <%= form_with(model: @invoice, remote: true, id: 'form') do |f| %>
      <div  class="mb-3 row">
        <div class="col ">
          <% if @users.present? %>
            <div class="form-group">
            <%= f.label :user, "Select a User" %>
             <%#= f.collection_select :user_id, User.all, :id, :name, prompt: true %>
             <%= f.collection_select(:user_id, @users, :id, :name, prompt: true) %>
            </div>
          <% end %>
        </div>
        <div class="col ">
          <% if @clients.present? %>
              <div class="form-group">
              <%= f.label :client, "Select a Client" %>
             <%= f.collection_select(:client_id, @clients, :id, :name, prompt: true) %>
            </div>
         <% end %>
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="col-sm-2 ">
          <%= f.label 'Logo image' %>
          <%= f.file_field :logo_image %>
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col ">
          <%= f.label 'invoice_no',class: "col-sm-2 col-form-label" %>
          <%= f.text_field :invoice_no %>
          <% @invoice.errors.full_messages_for(:invoice_no).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <div class="col ">
          <%= f.label 'invoice_date', class: "col-sm-2 col-form-label" %>
          <%= f.date_field :invoice_date , class: "datapicker" , data: {datapicker: true } %>
          <% @invoice.errors.full_messages_for(:invoice_date).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      </div>
      <br>

      <div class="row g-3">
        <div class="col">
          <%= f.fields_for :items do |item| %>
            <div class = "fields">
              <%= item.label :product_id, 'Select Product' %>
              <%= item.collection_select :product_id, Product.all, :id, :name, { prompt: 'Please Select product' }, { id: 'product_select' } %>

              <div id="product_attributes" style="display: none;">
                <table class = "table table-bordered">
                  <tr>
                    <th width="10%">Item</th>
                    <th width="10%">Rate</th>
                    <th width="10%">Tax Value</th>
                    <th width="10%">GST</th>
                    <th width="10%">Quantity</th>
                    <th width="10%">Amount Paid</th>
                  </tr>
                  <tr>
                    <td><span id="product_name"></span></td>
                    <td><span id="product_rate"></span></td>
                    <td><span id="product_tax_value"></span></td>
                    <td><span id="product_gst"></span></td>
                    <td><%= item.text_field :quantity, placeholder: "Quantity",size:"10" %></td>
                    <td><%= item.text_field :amountPaid, placeholder:"Amount Paid",size:"10" %></td>
                  </tr>
                </table>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="links">
        <strong><%= link_to_add_association "Add Item", f, :items, class: "link-body-emphasis" %></strong>
      </div>
      <div class="row">
        <div class="col">
          <%= f.label 'notes' %>
          <%= f.text_area :notes %>
          <% @invoice.errors.full_messages_for(:notes).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <div class="col">
          <%= f.label 'terms_and_condition' %>
          <%= f.text_area :terms_and_condition %>
          <% @invoice.errors.full_messages_for(:terms_and_condition).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col g-3" >
          <%= f.submit "submit", class: 'btn btn-dark' %>
        </div>
        <div class="col g-3" >
          <%= submit_tag("Reset", { :name => 'reset', :id => 'reset', :type => 'reset', :class => 'btn btn-dark' }) %>
        </div>
        <%= button_tag "Preview", type: "button", id: "preview-button" %>

      </div>
      </div>
    <% end %>
