<h1>Preview The Information </h1>
<p><strong>Name:</strong><%= @invoice.invoice_date %></p>
<p><strong>Name:</strong><%= @invoice.invoice_no %></p>
<p><strong>Name:</strong><%= @invoice.item.name %></p>
<p><strong>Name:</strong><%= @invoice.item.rate %></p>
<p><strong>Name:</strong><%= @invoice.item.quantity %></p>
