<div class="padding_top">
 <h2 style="background-color:powderblue;">Item for Invoices <%= @invoice.id %></h2>
<div>
<center><h4>User: <%= @invoice.user.name %></h4></center>
<table class="table">
  <tr>
    <th>Item</th>
    <th>Rate</th>
    <th>Quantity</th>
    <th>Tax Value</th>
    <th>GST</th>
    <th>Amount Paid</th>
  </tr>
  <% total = 0 %>
  <% tax_value = 0 %>
  <% amount_paid = 0 %>
  <% sub_total = 0 %>
  <% due_balance = 0 %>
  <% if @items.present? %>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.rate %></td>
        <td><%= item.quantity %></td>
        <td><%= item.tax_value %></td>
        <td><%= item.gst %></td>
        <td><%= item.amountPaid %></td>
      </tr>
      <% tax_value = tax_value + (item.tax_value) %>
      <% sub_total = sub_total + (item.gst) + (item.rate) %>
      <% amount_paid = amount_paid + (item.amountPaid) %>
      <% total = total + (item.rate) %>
    <% end %>
  <% else %>
    <tr>
      <td colspan = "4">NO Items Found For This Invoice. </td>
    </tr>
  <% end %>
  <tr>
   <th colspan="7"></th>
  </tr>
  <tr>
    <td></td>
    <td colspan="4">Tax Value</td>
    <td><%= tax_value %></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="4">Sub Total</td>
    <td><%= tax_value %></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="4">Discount</td>
    <td>0.0</td>
  </tr>
  <% total= sub_total + tax_value %>
  <tr>
    <td></td>
    <td colspan="4">Total</td>
    <td><%= total %></td>
  </tr>
  <tr>
  <td></td>
  <td colspan="4">Amount Paid</td>
  <td><%= amount_paid %></td>
</tr>
<tr>
    <td></td>
    <td colspan="4">Due Balance</td>
    <td><%= total - amount_paid  %></td>
  </tr>
</table>
<%= link_to "Back", invoices_path, class: 'btn' %>
