<div class="form">
 <div class="padding_top">
  <h1 style="background-color:powderblue;">User</h1>
 </div>
 <%= form_with(model: @user, local: true) do |f|%>
  <p>
  <%= f.label 'email' %>
  <%= f.text_field :email, placeholder: "Enter Email" %>
  <% @user.errors.full_messages_for(:email).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </p>
  <p>
  <%= f.label 'name' %>
  <%= f.text_field :name, placeholder: "Enter Name" %>
  <% @user.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </p>
  <p>
  <%= f.label 'address' %>
  <%= f.text_field :address, placeholder: "Enter Address" %>
  <% @user.errors.full_messages_for(:address).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </p>
  <p>
  <%= f.label 'city' %>
  <%= f.text_field :city, placeholder: "Enter City" %>
  <% @user.errors.full_messages_for(:city).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </p>
  <p>
  <%= f.label 'phone' %>
  <%= f.text_field :phone, placeholder: "Enter Contact " %>
  <% @user.errors.full_messages_for(:phone).each do |message| %>
    <div><%= message %></div>
  <% end %>
  </p>
  <p>
    <%= f.label 'State' %>
    <%= f.select :state, options_for_select(User::STATE_TYPE), {prompt:"Select State" }%>
    <% @user.errors.full_messages_for(:state).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= f.label 'image' %>
    <%= f.file_field :signature_image %>
 </p>
  <%= f.submit 'Submit'%>
  </p>
  <% end %>



</div>
