<html>
<body>
<div class="padding_top">
<h1 style="background-color:powderblue;">Listing Users Details</h1>
</div>
<% ans = 0%>
<div class="form-group">
  <%= form_tag(users_path, method: :get) do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search users..." %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<%= form_tag(batch_action_users_path, method: :post) do %>
  <label>
    <input type="checkbox" id="select-all-checkbox" />
    Select All Users
  </label>
  <% if @users.present? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name</th>
          <th>User id</th>
          <th>Address</th>
          <th>Email</th>
          <th>PDF</th>
          <th>Copy</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= check_box_tag 'user_ids[]', user.id, false, class: 'user-checkbox' %>
            </td>
            <td><%= highlight(user.name, params[:search]) %></td>
            <td><%= user.id %></td>
            <td><%= user.address%></td>
            <td><%= user.email %></td>
            <td> <%= link_to user_path(user, format: :pdf), class: "link-body-emphasis" do %>
              <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBmY1HEr3yq0hzsiu9tvMvbZbjXePTgEbzrjwdpTmR-HYCUD-aIxzapel0HGuHlF6j3WA&usqp=CAU",size: '30x30' %>
              <% end%>
              </td>
              <td><%= link_to  duplicate_user_path(user) do %>
                <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVQXVHz7jyPmYqoLlr9XwC1WNNPy64ngScOw&usqp=CAU",size: '30x30' %>
              <% end%>
              </td>
              <td><%= link_to  user, class: "link-body-emphasis" do %><span class="glyphicon glyphicon-eye-open
              "><% end %></td>
              <td><%= link_to  edit_user_path(user), class: "link-body-emphasis" do %><span class="glyphicon glyphicon-pencil"<% end %></td>
              <td><%= link_to user,  method: :delete, data: { confirm: "Are you sure?" }, class: "link-body-emphasis" do %><span class="glyphicon glyphicon-trash"><% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No results found for "<%= @query %>".</p>
  <% end %>
  <%= submit_tag 'Delete Selected Users', name: 'batch_action', value: 'delete' , class:"btn btn-dark" %>
  <%= submit_tag 'Share Email with Selected Users', name: 'batch_action', value: 'share_email', class:"btn btn-dark" %>
  <%= button_tag 'Deselect All', type: 'button', id: 'deselect-all-button', class:"btn btn-dark" %>
<% end %>
</body>
<hr>
</html>

<%= link_to "Back" , home_index_path, class: 'btn btn-inverse' %>
