<center>
 <div class="form">
    <div class="padding_top">
      <h1 style="background-color:powderblue;">Client</h1>
    </div>
      <%= form_for Client.new do |f| %>
      <p>
      <%= f.label 'email' %>
      <%= f.text_field :email, placeholder: "Enter Email" %>
      <% @client.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
      <% end %>
      </p>
      <p>
      <%= f.label 'name' %>
      <%= f.text_field :name, placeholder: "Enter Name" %>
      </p>
        <p>
        <%= f.label 'address' %>
        <%= f.text_field :address, placeholder: "Enter Address" %>
        </p>
      <p>
      <%= f.label 'state' %>
      <%= f.text_field :state, placeholder: "Enter State" %>
      </p>
      <p>
      <%= f.label 'city' %>
      <%= f.text_field :city, placeholder: "Enter City" %>
      </p>
      <%= f.submit 'Submit'%>
      </p>
      <% end %>
    </div>
  </div>
</center>
