<div class="t">
<center><h3 style="background-color:powderblue;">Client</h3></center>
  <%= form_for :clients do |client| %>
    <table class="table">
      <tr id="1">
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>State</th>
        <th>City</th>
        <th>Address</th>
        <th>Image</th>
      </tr>
      <tr>
        <td><%= @client.name %></td>
        <td><%= @client.email %></td>
        <td><%= @client.phone %></td>
        <td><%= @client.state %></td>
        <td><%= @client.city %></td>
        <td><%= @client.address %></td>
        <td>
        <% if @client.signature_image.attached? %>
          <%= image_tag @client.signature_image, height:250, width:250 %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
  <br>
  <%= link_to "Generate Pdf", download_pdf_client_path(@client), format: :pdf, class: "link-body-emphasis"  %>
   <br><br>
  <%= link_to "Back" , clients_path, style: 'width: 70px; height: 30px;', class: 'btn btn-dark' %>
</div>
