<center>
 <html>
  <body style="background-color: light">
    <div class="padding_top">

    <h2 style="background-color:powderblue;" >Welcome to invoice generator</h2>
    <br>
    <%= image_tag("https://img.icons8.com/?size=50&id=6697&format=png", size: '35x35') %> <%= link_to "Create Invoice For Existing User" , new_invoice_path, class: 'test' %>
    <br>
    <br>
    <%= image_tag("https://img.icons8.com/?size=50&id=6697&format=png", size: '35x35') %><%= link_to "Create New User" , new_user_path , class:'test' %>
    <br>
    <br>
    <%= image_tag("https://img.icons8.com/?size=50&id=6697&format=png", size: '35x35') %> <%= link_to "Create New Client" , new_client_path , class:'test'%>
    <br>
    <br>
    <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStSKS7A9VdWB6U-33FPM1e_MMmGy9R1kJ1_ZYWT5WkmCgKCNQj1NSq0K95lE-P4N_fEB8&usqp=CAU", :alt => "image missing",  size: '300x300', style: 'border: 1px solid gray;') %>
    <div>

  </body>
 </html>
</center>
