
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from <%= @user.name %>!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Address: <%= @user.address %></p>
    <p>Phone: <%= @user.phone %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p><%= @user.message %></p>
  </body>
</html>
