<% if @organization.type_of_invoice == @invoice_type %>
  html>
    <body>
      <div class="padding_top">
      <h1 style="background-color:powderblue;">Listing Items Details</h1>
      </div>
      <div class="form-group">
      <%= form_tag items_path, method: :get do %>
        <%= label_tag 'product_name', 'Search by Product Name:' %>
        <%= text_field_tag 'product_name' %>
        <%= submit_tag 'Search' %>
      <% end %>
      </div>
      <br>
      <% if @items.present? %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Rate</th>
              <th>Quantity</th>
              <th>PDF</th>
              <th>Show</th>
              <th>Edit</th>
              <th>Destroy</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>

              <tr>
                <td><%= highlight(item.product&.name, params[:search]) %></td>
                <td><%= item.product&.rate %></td>
                <td><%= item.quantity %></td>
                <td> <%= link_to item_path(item, format: :pdf), class: "link-body-emphasis" do %>
                  <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBmY1HEr3yq0hzsiu9tvMvbZbjXePTgEbzrjwdpTmR-HYCUD-aIxzapel0HGuHlF6j3WA&usqp=CAU",size: '30x30' %>
                  <% end%></td>
                <td><%= link_to  item, class: "link-body-emphasis" do %><span class="glyphicon glyphicon-eye-open
                  "><% end %></td>
                  <td><%= link_to  edit_item_path(item), class: "link-body-emphasis" do %><span class="glyphicon glyphicon-pencil"<% end %></td>
                    <td><%= link_to item,  method: :delete, data: { confirm: "Are you sure?" }, class: "link-body-emphasis" do %><span class="glyphicon glyphicon-trash"><% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No results found for "<%= @query %>".</p>
      <% end %>
      <hr>
      <center>
      <%== pagy_bootstrap_nav(@pagy) %>
      </center>
    </body>
    <%= link_to "Back" , home_index_path, class: 'btn' %>
  </html>
<% else %>
  <center>
  <div class="card border-dark mb-3" style="max-width: 50rem;">
    <div class="card-header">Product Details...!</div>
    <div class="card-body">
      <h5 class="card-title">Product Details</h5>
      <p>There is no product present for this organization </p>
    </div>
  </div>
  </center>
<% end %>
