<html>
<body>
<div class="padding_top">
<h1 style="background-color:powderblue;">Listing Items Details</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rate</th>
      <th>Quantity</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
         <td> <%= item.name %></td>
         <td> <%= item.rate %></td>
         <td> <%= item.quantity %></td>
         <td><%= link_to "Show", item %></td>
         <td><%= link_to "Edit", edit_item_path(item) %></td>
        <td><%= link_to "Destroy", item, data: { method: :delete, confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
</body>
</html>
<%= link_to "Back" , home_index_path, class: 'btn btn-inverse'%>
