<center>
  <div class="t">
   <div class = "padding_top" >
    <h2 style="background-color:powderblue;">Invoice Generator</h2>
   </div>

   <%=form_for :items do |item| %>
    <table class="table table-bordered">
      <tr>
        <th>Item</th>
        <th>Rate</th>
        <th>Quantity</th>
        <th>Tax Value</th>
        <th>GST</th>
        <th>Amount Paid</th>
      </tr>
      <% total = 0 %>
      <tr>
        <td><%=@item.product&.name %></td>
        <td><%= @item.product&.rate %></td>
        <td><%= @item.quantity %></td>
        <td><%= @item.product&.tax_value %></td>
        <td><%= @item.product&.gst %></td>
        <td><%= @item.amountPaid %></td>
      </tr>
      <% total = (@item.product.tax_value) * (@item.product.gst) %>
        <tr>
          <th colspan="7"></th>
        </tr>
        <tr>
          <td></td>
          <td colspan="5">Tax Value</td>
          <td ><%= @item.product.tax_value %></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="5">Sub Total</td>
          <td ><%= (@item.product.tax_value) + (@item.product.gst) %></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="5">Discount</td>
          <td>0.0</td>
        </tr>
        <tr>
          <td></td>
          <td colspan="5">Total</td>
          <td><%= (@item.product.tax_value) * (@item.product.gst) %></td>
        </tr>
        <tr>
        <% amountPaid = (@item.product.tax_value) * (@item.product.gst) %>
          <td></td>
          <td colspan="5">Amount Paid</td>
          <td><%= amountPaid %></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="5">Due Balance</td>
          <td ><%= (total - amountPaid) %></td>
        </tr>
        <% total = (@item.product.tax_value) * (@item.product.gst) * (@item.product.rate) %>
        <tr>
        <td></td>
          <td colspan="5">Total Amount : </td>
         <th><%= @item.calculate_total %></th>
        </tr>
    </table>
   <% end %>
   </div>
   <br>
</center>
